extends layout

block content
    .page-container
        h1= title
        p= data.category.description
        hr


        each item in data.category_items
            .item-container
                h3
                    a(href=`${item.url}`) #{item.name}
                div= item.description
                div $ #{item.price}
                div Available: #{item.stock_available}
                hr