<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/nav') %>

        <h1><%= title %></h1>
        <p>Welcome to the Home Page</p>
        <p>
            We currently have <%= data.item_count %> different types of items in
            <%= data.category_count %> different categories
        </p>
    </body>
</html>
