extends layout

block content
    .page-container
        h1= title
        div= data.description
        div $ #{data.price}
        div Available: #{data.stock_available}
        a(href=`${data.similar_items}`) Check out Similar Items