<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/nav') %>

        <div class="page-container">
            <h1><%= title %></h1>
            <div><%= data.description %></div>
            <div>Category: <%= data.category %></div>
            <div>$<%= data.price %></div>
            <div>Available: <%= data.stock_available %></div>
        </div>
    </body>
</html>
